body {
    background-color: wheat;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #C28014;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}

#navbar-logo    {
    color:wheat;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
}

#navbar-logo:hover {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: wheat;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
} 

.navbar__links:hover {
    color: #FFF;
    font-size:1.5rem;
    transition: all 0.3s ease-in-out;
}

.navbar__btn {
    display: flex;
    align-items: center;
}

.navbar__btn.mobile {
    display: none;
}

.navbar__btn.desktop {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#744b0a ;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #E0C9A6;
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.button:hover {
    background: #fff;
    color: #744b0a;
    transition: all 0.3s ease-in-out;
}

.navbar__toggle {
    display: none;
}

@media screen and (max-width:968px) {
    .navbar__toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform:  translateY(-50%);
        color: #D2B48C;
        z-index: 10;
        font-size: 1.5rem;
        border: none;
        background-color: none;
        cursor: pointer;
        padding: 0;
    }

    .navbar__menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        background-color: #ac6f0d;
    }

    .navbar__menu.active {
        left: 0;
        opacity: 1;
    }

    .navbar__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }
}

    /* Design */
    .pricelist {
    background-color: #ffc465;
    padding: 100px 0px 20px 20px;
    text-align: center;
}

#pricelist {
    background-color: #ffc465;
    padding: 0 20px;
    text-align: center;
}

.pricelist h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    border: none;
    background-color: #ac6f0d;
    border-radius: 4px;
}

.pricelist .intro-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #3a2402;
    margin-bottom: 50px;
    max-width: 1400px ;
    margin: 0 auto;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 24px;
    overflow: hidden;
    height: 23rem;
}

.feature-item {
    background-color: wheat;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    max-width: 300px;   
    transition: all 0.3s ease-in-out;
}

.feature-item:hover  {
    overflow: hidden;
    transform: translateY(-12px);
    transition: all 0.3s ease-in-out;
}

.feature-item #picture {
    width: 50%;
    height: 50%;
    transition: all 0.3s ease-in-out;
}

.feature-item #picture:hover {
    width: 55%;
    height: 55%;
    transition: all 0.3s ease-in-out;
}

.feature-item h3 {
    font-size: 1.3rem;
    color: #3a2402;
    margin-bottom: 10px;
}

.feature-item p {
    
    font-size: 1rem;
    color: #886226;
}

