
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #C28014;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}

#navbar-logo    {
    color:wheat;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
}

#navbar-logo:hover {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: wheat;
    text-decoration: none;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
} 

.navbar__links:hover {
    color: #fff;
    font-size:1.5rem;
    transition: all 0.3s ease-in-out;
}

.navbar__btn {
    display: flex;
    align-items: center;
}

.navbar__btn.mobile {
    display: none;
}

.navbar__btn.desktop {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#744b0a ;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #E0C9A6;
    text-decoration: none;
    display: flex;
    align-items: baseline;
}

.button:hover {
    background: #fff;
    color: #744b0a;
    transition: all 0.3s ease-in-out;
}

.navbar__toggle {
    display: none;
}

@media screen and (max-width:968px) {
    .navbar__toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform:  translateY(-50%);
        color: #D2B48C;
        z-index: 10;
        font-size: 1.5rem;
        border: none;
        background-color: none;
        cursor: pointer;
        padding: 0;
    }

    .navbar__menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        background-color: #ac6f0d;
    }

    .navbar__menu.active {
        left: 0;
        opacity: 1;
    }

    .navbar__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
    }

    /* Sign Up Button */

    .navbar__btn.desktop {
        display: none;
    }

    .navbar__btn.mobile {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
    }

    .button {
        width: 80%;
        height: 60px;
        justify-content: center;
    }
}

/* Hero CSS */

.hero {
    background-color: wheat;
    overflow-y: hidden;
}

.hero::-webkit-scrollbar {
    display: none;
}

.hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 120vh;
    width: 100%;
    padding: 0 50px;
    max-width: 1300px;
}

.hero__content {
    color: #744b0a;
    overflow-y: hidden;
}

.hero__content h1 {
    font-size: 4rem;
}

.hero__content h1:hover {
    color:#df9216 ;
}

.hero__content p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.login {
    text-decoration: none;
}

.hero__btn {
    text-decoration: none;
    font-size: 2rem;
    background: #C28014;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: wheat;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.hero__btn:hover {
    background: #744b0a;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px  #422a04;
}

.hero__image {
    text-align: center;
}

#hero-img {
    width: 80%;
    height: 80%;
    transition: all 0.2s ease-in-out;
}

#hero-img:hover {
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-in-out;
}

/*  Rotating Price */

.rotating-product {
    overflow: hidden;
    padding: 40px 0px;
    background: #f8f8f8;
    white-space: nowrap;
}

.rotating-product-track {
    display: inline-block;
    animation: rotate 12s linear infinite;
}

.price-text {
    font-size: 20px;
    font-weight: bold;
    color: #1b1101;
    margin: 0 20px;
}

@keyframes rotate {
    0% {
        transform:  translateX(0);
    }

    100% {
        transform: translateX(-100.4%);
    }
}

/* Why choose us */

.why-choose-us {
    background-color: #ffc465;
    padding: 100px 20px;
    text-align: center;
}

.why-choose-us h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #3a2402;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.why-choose-us .intro-text {
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
    color: #3a2402;
    margin-bottom: 50px;
    max-width: 1400px ;
    margin: 0 auto;
}

.features-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 24px;
    overflow: hidden;
}

.feature-item {
    background-color: #c78d2f;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    max-width: 300px;   
    transition: all 0.3s ease-in-out;
}

.feature-item:hover  {
    overflow: hidden;
    transform: translateY(12px);
    transition: all 0.3s ease-in-out;
}

.feature-item i.icon {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #1b1101  !important;
}

.feature-item h3 {
    font-size: 1.5rem;
    color: #3a2402;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1rem;
    color: #422a04;
}

